* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.logo-contenedor {
    width: 100%;
    height: 100vh;

    /* Flexbox para centrar el video perfectamente */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Preparamos la transición de opacidad */
    opacity: 1;
    transition: opacity 0.5s ease; /* Tarda medio segundo en desvanecerse */
}

.logo-contenedor video {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
}

/* Esta clase se la inyectamos con JavaScript al terminar el video */
.desvanecer {
    opacity: 0;
}