* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.logo-contenedor {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1;
    transition: opacity 0.5s ease;
}

.logo-contenedor video {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    border: none;
    outline: none;
}

/* Esta clase se la inyectamos con JavaScript al terminar el video */
.desvanecer {
    opacity: 0;
}

@media (max-width: 550px) {
    .logo-contenedor {
        align-items: flex-start;
        margin-top: 100px;
    }
}